<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <form ng-submit="getData()">
        <div class="mb-3 mt-4">
            <label for="O_Status" class="form-label">Select Order Status</label>
            <select class="form-select form-select-lg" ng-model="O_Status" id="O_Status" required ng-change="getData()">
                <option selected disabled value="">Select one</option>
                <option value="Delivered">Delivered</option>
                <option value="In transit">In Transit</option>
                <option value="Failed">Failed</option>
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
        </form>
        <section id="tableSection" class="container mt-5">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">cid</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">lastName</th>
                        <th scope="col">email</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">O_Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datas">
                        <td scope="row">{{data.cid}}</td>
                        <td>{{data.FirstName}}</td>
                        <td>{{data.lastName}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.PhoneNumber}}</td>
                        <td>{{data.O_Status}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>